body {
	padding-top: 50px;
}

#headerWrapper {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 600px;
	background-image: url(../images/headerlogo/background.png);
	background-repeat: no-repeat;
	background-size: 100% 700px;
	background-position: top center;
	background-attachment: fixed;
}

#logotext {
	position: absolute;
	width: 100%;
	height: 180px;
	background-image: url(../images/headerlogo/text.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70% 180px;
	top: 50%;
	margin-top: -90px;
}

#fore-flower {
	position: absolute;
	width: 100%;
	height: 400px;
	background-image: url(../images/headerlogo/fore-flower.png);
	background-size: auto 400px;
	background-repeat: no-repeat;
	background-position: right bottom;
	top: 525px;
	right: -50px;
}

#back-flower {
	position: absolute;
	width: 100%;
	height: 350px;
	background-image: url(../images/headerlogo/back-flower.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: auto 350px;
	top: 400px;
	left: -25px;
}

.img-thumb {
	width: auto;
	height: 200px;
}

#footer {
	margin-top: 50px;
}

.details {
	width: 33%;
	margin: 15px auto;
}

.table-auto {
	width: auto;
	margin: 0 auto;
}

#add-product-btn {
	margin-top: -35px;
}